name: Run Python Tasks

on:
  workflow_dispatch:
    inputs:
      selected_function:
        description: 'Select the Python task to run'
        required: false
        default: 'run all tasks'
        type: choice
        options:
          - run all tasks
          - task1
          - task2
          - task3
  schedule:
    - cron: '55 21 * * *'

jobs:
  run_python_script:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Run Python Script
      run: |
        python main.py "${{ github.event.inputs.selected_function }}"
