name: Run Python Tasks

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      selected_task:
        description: 'Select the Python task to run'
        required: true
        type: choice
        options:
        - task1
        - task2
        - task3

jobs:
  run_tasks:
    runs-on: ubuntu-latest

    env:
      SELECTED_TASK: ${{ github.event.inputs.selected_task }}

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Run Python Task
      run: |
        case $SELECTED_TASK in
          "task1")
            python task1.py
            ;;
          "task2")
            python task2.py
            ;;
          "task3")
            python task3.py
            ;;
          *)
            echo "Invalid task selected."
            exit 1
            ;;
        esac
